@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

//@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css';

@include foundation-everything(true);

$row-width: 100%; //Full width rows!
$primary-color: white;
$background-color: grey;

body{
    background-color: $background-color;
}

.menu{
    position: absolute;
    top: 0px;
    //left: 0px;
}

.menu-text{
    color: white;
    animation-name: whiteGlow;
    animation-duration: .5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.text-center{
    text-align: center;
}

.fadeOut{
    opacity: 0;
    animation-name: fadeOut;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes whiteGlow{
    from{
        text-shadow: 0px 0px 0px white;
    }
    to{
        text-shadow: 0px 0px 30px white;
    }
}

@keyframes fadeOut{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}